<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/public.meta.tags.ejs") %>
        <title><%= pageTitle %> </title>
    </head>
    <body>
        <h1 class="alert alert-danger">Something Went Wrong</h1>
    </body>
</html>