<header>
    <!-- Start Navbar From Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">Online Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <% if (isUser) { %>
                        <a class="nav-link" href="/cart">Cart</a>
                        <a class="nav-link" href="/orders">Orders</a>
                    <% } else { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/signup">Signup</a>
                    <% } %>
                    <a class="nav-link" href="/admin/add-product">Add Product</a>
                    <a class="nav-link" href="/admin/manage-orders">Manage Orders</a>
                    <% if (isUser) { %>
                        <form action="/logout" method="get">
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar From Bootstrap -->
</header>