*{
    font-family: 'Poppins', Arial, sans-serif
}

:root{
    --main-color: #F00
}

section{
    padding: {
        top: 50px;
        bottom: 50px
    }
    h1{
        color: var(--main-color);
        margin-bottom: 60px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: calc(50% - 50px);
            bottom: -20px;
            width: 100px;
            height: 3px;
            background-color: var(--main-color);
        }
    }
}

a{
    text-decoration: none
}

.navbar {
    .navbar-brand{
        color: var(--main-color)
    }
    .navbar-nav{
        flex-basis: 100%;
        justify-content: flex-end
    }
}

.product-info-box{
    margin-bottom: 30px;
    transition: .3s;
    &:hover{
        box-shadow: 1px 1px 7px #F00, -1px -1px 7px #00F;
        transform: translate(10px, 10px)
    }
    &.card{
        border-radius: 7px;
        overflow: hidden
    }
    .product-details-list{
        list-style: {
            type: square;
            position: inside
        };
        li{
            margin-bottom: 25px;
            span{
                color: var(--main-color)
            }
        }
        .add-to-cart-form{
            .add-to-cart{
                margin-top: 20px;
                width: 100%
            }
        }
    }
}

.product-image-box{
    position: relative;
    img{
        height: 320px;
        border-top-right-radius: 25px
    }
    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0);
        display: grid;
        justify-content: center;
        align-items: center;
        transition: .3s;
        &:hover{
            background-color: rgba(0,0,0,.6)
        }
    }
}