.products-gallery .products-filter-form {
  margin-bottom: 30px;
}

.products-gallery .products-filter-form .products-filter-button {
  margin-top: 20px;
}

.products-gallery .product-info-box {
  margin-bottom: 30px;
  transition: .3s;
}

.products-gallery .product-info-box:hover {
  box-shadow: 1px 1px 7px #F00, -1px -1px 7px #00F;
  transform: translate(10px, 10px);
}

.products-gallery .product-info-box.card {
  border-radius: 7px;
  overflow: hidden;
}

.products-gallery .product-info-box .product-image-box {
  position: relative;
}

.products-gallery .product-info-box .product-image-box img {
  height: 280px;
}

.products-gallery .product-info-box .product-image-box .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: grid;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.products-gallery .product-info-box .product-image-box .overlay:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.products-gallery .product-info-box .product-details-list {
  list-style-type: square;
  list-style-position: inside;
}

.products-gallery .product-info-box .product-details-list li {
  margin-bottom: 10px;
}

.products-gallery .product-info-box .product-details-list li span {
  color: var(--main-color);
}

.products-gallery .product-info-box .product-details-list li:first-child a {
  text-decoration: none;
}

.products-gallery .product-info-box .product-details-list .add-to-cart-form .add-to-cart {
  margin-top: 20px;
  width: 100%;
}
