.products-gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}

.products-gallery h1 {
  color: var(--main-color);
  margin-bottom: 60px;
  position: relative;
}

.products-gallery h1::after {
  content: '';
  position: absolute;
  left: calc(50% - 50px);
  bottom: -20px;
  width: 100px;
  height: 3px;
  background-color: var(--main-color);
}

.products-gallery .products-filter-form {
  margin-bottom: 30px;
}

.products-gallery .products-filter-form .products-filter-button {
  margin-top: 20px;
}

.products-gallery .product-info-box {
  margin-bottom: 30px;
}

.products-gallery .product-info-box.card {
  border-radius: 7px;
  overflow: hidden;
}

.products-gallery .product-info-box .product-image-box {
  position: relative;
}

.products-gallery .product-info-box .product-image-box img {
  height: 280px;
}

.products-gallery .product-info-box .product-image-box .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: grid;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.products-gallery .product-info-box .product-image-box .overlay:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.products-gallery .product-info-box .product-caption-box .add-to-cart-form .add-to-cart {
  margin-top: 20px;
  width: 100%;
}
