.products-gallery {
    .products-filter-form{
        margin-bottom: 30px;
        .products-filter-button{
            margin: {
                top: 20px
            }
        }
    }
    .product-info-box{
        margin-bottom: 30px;
        &.card{
            border-radius: 7px;
            overflow: hidden
        }
        .product-image-box{
            position: relative;
            img{
                height: 280px
            }
            .overlay{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0);
                display: grid;
                justify-content: center;
                align-items: center;
                transition: .3s;
                &:hover{
                    background-color: rgba(0,0,0,.6);
                    cursor: pointer
                }
            }
        }
        .product-caption-box{
            .product-name{

            }
            .product-price{

            }
            .product-category{

            }
            .product-description{

            }
            .add-to-cart-form{
                .add-to-cart{
                    margin-top: 20px;
                    width: 100%
                }
            }
        }
    }
}