.signup .signup-form {
  margin-bottom: 20px;
}

.signup .signup-form input {
  margin-bottom: 20px;
}

.signup p.error-in-user-side {
  display: none;
}

.signup p.error-in-user-side.displayed {
  display: block;
}

.signup h6 {
  margin-top: 30px;
}
