<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/public.meta.tags.ejs") %> 
        <title>Product Info Page</title>
        <%- include("../components/public.style.tags.ejs") %>
        <link rel="stylesheet" href="/css/ProductInfo/style.min.css">
    </head>
    <body>
        <!-- Start Product Info -->
        <section class="product-info">
            <h1 class="text-center fw-bold">Product Info</h1>
            <!-- Start Container -->
            <div class="container">
                <!-- Start Grid System -->
                <div class="row">
                    <!-- Start Column -->
                    <!-- Start Column -->
                    <div class="col-md-6">
                        aa
                    </div>
                    <!-- End Column -->
                    
                </div>  
                <!-- End Grid System -->
            </div>
            <!-- End Container -->
        </section>
        <!-- End Product Info -->
        <%- include("../components/public.script.tags.ejs") %>
    </body>
</html>